@import url(https://fonts.googleapis.com/css?family=Rambla);
@import url(https://fonts.googleapis.com/css?family=Encode+Sans);

a:link { color: #607D8B; }
a:visited { color: #757575; }
a:hover { color: #C5CAE9; }
a:active { color: #757575; }

body { font-family: 'Rambla';
       background: radial-gradient(#161616 2%, #1c1c1c 38%, #212121 60%); }

input[type="checkbox"] { -webkit-appearance: none;
                         -moz-appearance: none;
                         appearance: none;
                         width: 16px;
                         height: 16px;
                         background-color: #3c3c3c; }

input[type="checkbox"]:checked { background-color: #66ff65; }