@import url("addon.css") media-types;

html { height: 95%; }

body { font-size: 85%;
       color: #757575;
       height: 95%;
       margin: 10px;
       text-align: justify;
       text-justify: inter-word; }

select, input {	font-size: 0.8em; }

.title, .warn, .error { text-align: center;
                        margin: 10px 0px;
                        padding: 5px;
                        color: #757575;
                        font-family: 'Rambla'; 
                        font-variant: small-caps;
                        font-size: 30px;
                        -moz-border-radius: 10px;
                        -webkit-border-radius: 10px;
                        border-radius: 10px; /* future proofing */
                        margin-left:5px;
                        float:center; }

.warn, .blue { color: #00529B;
               background-color: #BDE5F8; }

.green { color: #4F8A10;
         background-color: #DFF2BF; }

.error, .red { background: #D32F2F;
               -webkit-animation: mymove 5s infinite;
               animation: mymove 5s infinite; 
               animation-direction: alternate; }


@-webkit-keyframes mymove { from {background-color: #D32F2F;}
                            to {background-color: #FF5722;} }


@keyframes mymove { from {background-color: #D32F2F;}
                    to {background-color: #FF5722;} }


.highcol { background: #757575;
           text-align: center; }

table { font-family: 'Encode Sans';
        color: #757575;
        font-size: 100%;
        table-layout: fixed;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }

th, td { padding: 6px;
         text-align: left;
         background-color: #1c1c1c; }

fieldset { margin-bottom: 1em;
           -moz-border-radius: 10px;
           -webkit-border-radius: 10px;
           border-radius: 10px; /* future proofing */
           background-color: #1c1c1c; }

legend { font-family: 'Encode Sans';
         font-variant: small-caps;
         letter-spacing: 1px;
         color: #757575;
         font-size: 20px;
         font-weight: bold; }

.menu { display: block;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Rambla';
        font-size: 30px;
        font-variant: small-caps;
        margin: 10px 0px;
        font-weight: bold;
        background-color: #212121;
        color: #757575; }

.menu a, .menu label { display: block;
                       margin-left: auto;
                       margin-right: auto;
                       text-decoration-style: wavy;
                       color: #757575; }

.menu a:hover, .menu label:hover { background-color: #212121; }

.menu ul, ul.menu { padding: 2px;
	            margin: 2px; }

.menu li { display: block;
	   position: relative;
	   list-style: none; }

.menu li ul, .menu input { display: none; }

/* vertical menu */

.vmenu li:hover ul { margin-left: 2em; }

.vmenu input:checked ~ ul { display: block;
	                    margin-left: 2em; }

/* horizontal menu */

.hmenu li { float: left;
	    width: 6em;
	    background-color: #212121;
	    z-index: 1000; }

.hmenu .short li { width: 12em; }
.hmenu li ul { position: absolute; }
.hmenu li:hover ul { display: block; }

/* Shortcuts */

.short { padding: 0px;
	 margin: 0px;
	 color: #757575; }

.short a { text-decoration: wavy;
	   background: #212121;
	   color: #757575; }

/* tooltips */

.ttip {	font-family: 'Encode Sans';
	padding: 12px;
	color: #757575;
	background-color: #1c1c1c;
	position: absolute;
	visibility: hidden;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
	z-index: 200; }

/* bargraphs */

.meter-wrap { position: relative;
	      z-index: 100; }

.meter-wrap, .meter-value, .meter-text { width: 100%;
	                                 height: 1em; 
                                         font-family: Monaco, monospace;
                                         color: #757575;}

.meter-wrap, .meter-value { background: #212121 top left no-repeat; 
                            font-family: Monaco, monospace;
                            color: #757575; }

.meter-text { font-family: Monaco, monospace;
	      color: #757575;
	      position: absolute;
	      top: 0;
	      left: 0;
	      text-align: center;
	      width: 100%;
	      font-size: .8em; }

input[type=text], select { width: 24px;
                           background-color: #212121;
                           background: #1c1c1c url(menu.png) no-repeat 9px center;
	                   color: #757575;
                           padding: 12px 20px 12px 40px;
	                   margin: 8px 0;
	                   display: inline-block;
	                   border: none;
                           -moz-border-radius: 10px;
                           -webkit-border-radius: 10px;
                           border-radius: 10px; /* future proofing */
	                   box-sizing: border-box; }

input[type=submit] { background-color: #212121;
                     color: #757575;
	             padding: 5px 5px 5px 5px;
	             border: none;
                     -moz-border-radius: 10px;
                     -webkit-border-radius: 10px;
                     border-radius: 10px; /* future proofing */
	             cursor: pointer; }

input[type=submit]:hover { background-color: #212121;
	                   color: #607D8B; }

input[type=text]:focus { width: 24px;
                         -webkit-transition: width 0.4s ease-in-out;
                         transition: width 0.4s ease-in-out;
                         width: 100%;
                         background-image: url('menu.png');
                         background-position: 10px 10px; 
                         background-repeat: no-repeat;
                         padding: 12px 20px 12px 40px;
                         background-color: #212121;
	                 color: #607D8B; }

input[type=button] {  -moz-border-radius: 10px;
                      -webkit-border-radius: 10px;
                      border-radius: 10px;
                      background-color: #212121;
	              color: #F5F5F5; }

input[type=button]:hover { background-color: #212121; }

form { width: auto; 
       -moz-border-radius: 10px;
       -webkit-border-radius: 10px;
       border-radius: 10px;
       background-color: #212121;
       color: #F5F5F5;
       padding: 20px; }

/**/
